body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
/*@font-face {*/
    /*font-family: headerfont;*/
    /*src: url("../fonts/Lobster_1.3.otf");*/
/*}*/

header {
    font-weight: bold;
}

.details {
    width: 100%;
}

.box{
    margin-top: 40px;
}
.headerlogo {
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    left: 20px;
    display: block;
    padding: 5px 15px 0 0;
}

.headerlogo > svg {
    height: auto;
    width: 4rem;
}


/*.backgroundgradient {*/
    /*background: linear-gradient(to right, #603813, #341c05);*/
/*}*/
/*button start*/
#submitbutton {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    display: inline-block;
    border-radius: 70px;
    background-color: #154c91;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 0;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
}

/*#submitbutton {*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*transition: 0.5s;*/
/*}*/

#submitbutton:hover{
    padding-right: 25px;
    background-color: #253a7a;
}

#submitbutton:active{
    padding-right: 25px;
    background-color: #154c91;
}

/*button end*/

#headername {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 45px;
    color: #154c91;
    padding: 15px;
    margin: 8px 0;
    font-weight: 700;
}

.textinput {
    display: block;
    margin-top: 2px;
}
span.buttonWrapper {
    margin: 0 0 14px 0;
    display: block;
}

section.results {
    clear: both;
    border: 2px groove threedface;
    /*margin: 20px 0 20px;*/
    padding: 5px;
    /*transform: rotate(10deg);*/
}
.results {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #000000;
    font-size: 23px;
    display: block;
    margin: 10px 0 0 0;
    width: inherit;
}
.resultsHeader {
    border-bottom: 2px solid #4472c4;
    color: #000000;
    display: block;

}
.resultsBody {
    background-color: #f5f4f4;
    color: black;
    font-size: 18px;
    display: grid;
    /*height: fit-content;*/
}


ul {
    padding: 0;
    height: auto;
    margin: 0.4em 0;
}

ul > li {
    display: block;
    padding: 5px 0 5px 4px;
    border: 1px solid black;
    margin: 4px 4px 0 4px;
}


.navlink {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    height: auto;
    width: 95%;
    font-size: 18px;
    float: left;
    color: black;
    text-decoration: none;
}

